
/*nav*/
#header nav{
	background: #FFFFFF;
	padding: 10px 10px 10px 10px;
	
	//text-transform: uppercase;
	//text-align: center;
}
#calltoaction .jumbotron{
	padding: 150 px 0;
	text-align: center;
	background: #63AFC7 url('img/shoes.jpg') center no-repeat;
	margin-bottom: 0;
}
#calltoaction .jumbotron h1,
#calltoaction .jumbotron p{
	color: #FFFFFF;
}


calltoaction .jumbotron .btn-feature:hover{
}

/* feature1*/
#feature1{
	background: #ECF0F1;
	color: #2C3E50;
	text-align: center;
	padding: 30px 0;
}

#feature1 .glyphicon{
	font-size: 50px;
}

#img-left img{
	
	height: 200px;
	
}